* {
    margin: 0;
    padding: 0;
}
body{
    /*background-color: blue;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
}
.navbar{
    align-items: center;
    height: 60px;
}
h1{
    margin: 15px;
    padding: 8px;
}


footer {
    align-items: center;
    justify-content: center;
    justify-items: center;
    /*margin: 20px;*/
   padding: 10px;
   width: 100%;
   height: 30px;
   bottom: 0;
   position: relative;
   
}